Syntax ex1

In [1]:
print("Hello World")

Hello World

Syntax ex2

In [1]:
if 5>2:
    print("Five is greater than two")

Five is greater than two

Comments ex1

In [2]:
#this is a comment

Hello World

Comments ex2

In [3]:
"""
This is a comment
written in 
more than just one line
"""

Hello world

Variables ex1

In [5]:
carname = "Volvo"

John
5

Variables ex2

In [6]:
x = 50

Variables ex3

In [7]:
x = 5
y = 10 
print (x + y)

<class 'int'>
<class 'str'>

Variables ex4

In [8]:
x = 5
y = 10 
z = x + y
print(z)

Variables ex5

In [9]:
myfirst_name = "John"

Variables ex6

In [10]:
x = y = z = "Orange"

Variables ex7

def myfunc():
    global x 
    x = "fantastic"

Data Types ex1

In [ ]:
x = 5
print (type(x))
# int

Data Types ex2

In [ ]:
x = "Hello World"
print (type(x))
# str

Data Types ex3

In [ ]:
x = 20.5
print(type(x))
#float

Data Types ex4

In [ ]:
x = ["apple","banana","cherry"]
print(type(x))
# list

Data Types ex5

In [ ]:
x = ("aplle", "banana", "cherry")
print (type(x))
# tuple

Data Types ex6

In [ ]:
x = {"name": "John", "age": 36}
print (type(x))
# dict

Data Types ex7

In [ ]:
x = True
print(type(x))
# bool

Numbers ex1

In [ ]:
x = 5
x = float(x)

Numbers ex2

In [ ]:
x = 5.5
x = int(x)

Numbers ex3

In [ ]:
x = 5
x = complex(x)

String ex1

In [ ]:
x = "Hello World"
print(len(x))

String ex2

In [ ]:
txt = "Hello World"
x = txt[0]

String ex3

In [ ]:
txt = "Hello World"
x = txt[2:5]

String ex4

In [ ]:
txt = " Hello World "
x = txt.strip()

String ex5

In [ ]:
txt = "Hello World"
txt = txt.upper()

String ex6

In [ ]:
txt = "Hello World"
txt = txt.lower()

String ex7

In [ ]:
txt = "Hello World"
txt = txt.replace("H","j")

String ex8

In [ ]:
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))